<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Productos</title>
    <!-- Font Awesome -->
    <link    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"    rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.css"  rel="stylesheet" />
</head>

<body>
    <%- include('../partials/encabezado.ejs') %>
    <div class="container my-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center h2">List of products</h1>
                <% if (cantidad) { %>
                <table class="table table-light table-hover">
                    <tr>
                        <th>name</th>
                        <th>Price</th>
                        <th>Photo</th>
                    </tr>
                    <% for (let producto of productos) { %>
                    <tr>
                        <td><%= producto.title %></td>
                        <td><%= producto.price %></td>
                        <td><img src="<%= producto.thumbnail %>" style="max-height: 30px; vertical-align:middle;"></td>
                    </tr>
                    <% } %>
                </table>
                <% } else { %>
                <div class="alert alert-warning" role="alert">
                There is no product
                </div>
                <% } %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <a href="/" type="button" class="btn btn-warning">Insert new product</a>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script    type="text/javascript"    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js"></script>
</body>
</html>